.box-product {
	border: 1px solid #DDD;
	margin-top: 20px;
}

.button-buy {
	background-color: #000 !important;
	border: 1px #000 !important;
}

.quantity-box {
	width: 50px;
	padding-bottom: 6px;
	padding-left: 5px;
}

.name-product {
	font-size: 18px;
}

.name-price {
	font-size: 18px;
	font-weight: 600;
}

.quantity{
	width: 40px;
}
.text-right{
	text-align: right;
}

.button-checkout{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.total-price{
	font-size: 13px;
	font-weight: 600;
}
.row-checkout{
	margin-bottom: 20px;
	text-transform: uppercase;
	opacity: 0.7;
}

