header.wrap-header {
	position: relative;
	z-index: 100;
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	padding: 12px 0 0;
}

header.wrap-header .header-row-1 .col-md-5 {
	width: 50.66667%;
	padding-right: 0;
	padding-left: 0;
}

header.wrap-header .header-search .input-group {
	border: 0;
}

.input-group {
	display: table;
	border-collapse: separate;
}

.input-group, .input-group-btn, .input-group-btn>.btn {
	position: relative;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

header.wrap-header .header-row-1 .col-md-4 {
	width: 31.33333333%;
	padding-left: 0;
	padding-right: 0;
}

header.wrap-header .header-user .user-name .user-name-link {
	display: block;
	position: relative;
	color: #444;
	height: 34px;
	cursor: pointer;
	padding-right: 15px;
}

header.wrap-header .header-user .user-name .user-name-link .user-avatar
	{
	float: left;
	width: 34px;
	height: 34px;
	margin-right: 8px;
	position: relative;
}

@media screen and (min-width: 1200px) {
	header.wrap-header .header-user {
		width: 275px;
	}
}

header.wrap-header .header-user {
	width: 260px;
	margin-top: 10px;
	display: inline-block;
}

header.wrap-header .header-user .user-name .user-name-link ul li.user-name-short
	{
	padding: 0 0 5px;
	display: block;
	position: relative;
	font-weight: 700;
}

header.wrap-header .header-user .user-name .user-name-link ul {
	float: left;
	margin: 0;
	height: 34px;
	list-style: none;
	padding: 0;
	font-size: 12px;
	width: 112px;
}

header.wrap-header .header-user .user-name .user-name-link ul li.user-name-account
	{
	font-size: 11px;
	display: block;
	position: relative;
}

header.wrap-header .header-user .user-name {
	float: right;
}

header.wrap-header .header-row2 {
	margin-top: 10px;
	margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

header.wrap-header .header-navigation {
	position: relative;
	display: block;
}

header.wrap-header .header-navigation a.menu-all {
	color: #444;
	display: block;
	padding: 10px 15px 0;
	height: 33px;
	width: 100%;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	background: #fff;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

header.wrap-header .header-navigation a.menu-all i.fa {
	font-size: 21px;
	margin-top: -4px;
	color: #00b7f1;
}

header.wrap-header .header-navigation a.menu-all h2 {
	font-size: 15px;
	display: block;
	margin: 0;
	font-weight: 700;
	position: absolute;
	top: 11px;
	left: 42px;
	width: 100%;
}

@media screen and ( min-width : 1200px) {
	.ebook-home header.wrap-header .header-navigation.active>ul, .ebook-home header.wrap-header .header-navigation>ul
		{
		display: block !important;
	}
}

header.wrap-header .header-navigation>ul {
	list-style: none;
	margin: 0;
	padding: 1px 0 0;
	border: 1px solid #dfdfdf;
	border-right: none;
	border-top: none;
	position: absolute;
	background: #fff;
	width: 100%;
	display: none;
}

header.wrap-header .header-navigation>ul>li>a {
	display: block;
	color: #444;
	font-size: 13px;
	position: relative;
	height: 2.8rem;
	line-height: 2.8rem;
	padding: 0 10px 0 37px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}

header.wrap-header .header-navigation>ul>li>a .ebook-icons, header.wrap-header .header-navigation>ul>li>a .ebook-icons-2
	{
	font-size: 20px;
	height: 24px;
	width: 24px;
	position: absolute;
	top: 0;
	left: 7px;
	bottom: 0;
	margin: auto;
	line-height: 22px;
	color: #00b7f1;
}

.ebook-home .wrap {
	margin-bottom: 30px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.ebook-home .wrap .home-slideshow-root {
	padding-left: 15px;
	padding-right: 15px;
}

.ebook-home .wrap .home-slideshow {
	height: 390px;
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
	background: #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.ebook-home .wrap .home-slideshow .home-slideshow-content {
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

@media screen and (min-width: 1200px) {
	.ebook-home .wrap .home-slideshow {
		width: 850px !important;
		margin-top: 32px;
	}
}

.ebook-home .wrap .home-slideshow {
	height: 390px;
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
	background: #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#slideshow>div {
	position: absolute;
}

.product-item {
	border: 1px solid;
}

.product-item a {
	text-decoration: none;
	color: #0080AF;
}

.slides .ctitle {
	font-size: 16px;
	font-weight: 500;
	padding: 5px;
	background: #484065;
	color: #FFF;
	height: 50px;
	overflow: hidden;
}

.image img {
	width: 100%;
	height: 160px;
}

.slides h3 {
	font-size: 14px;
	font-weight: 500;
	display: inline;
	margin-bottom: 10px;
	float: left;
}

.slides .ctitle h3 {
	display: inline;
	float: none;
}

.ctitle:hover {
	background: #6844e8;
}

.cblock .cdate {
	float: left;
	padding: 10px 0 0 10px;
	font-size: 12px;
}

.cblock .crate {
	float: right;
	padding: 10px 8px 0 0;
}

.cblock .cloc {
	clear: left;
	float: left;
	padding: 10px 0px 10px 25px;
	position: relative;
}

.cblock .cstat {
	float: right;
	padding: 10px 8px 5px 0;
}

.cblock .user {
	position: absolute;
	overflow: hidden;
}

.user {
	overflow: hidden;
	width: 100px;
	float: left;
	margin-right: 5px;
}

.margin-10 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.margin-top {
	margin-top: 30px;
}

footer.wrap-footer {
	background: rgba(247, 247, 247, .5);
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
}

footer .bottom {
	text-align: center;
	margin-top: 5px;
}

/* detail ebook */
.breadcrumb-wrap {
	border-bottom: 1px solid #dfdfdf;
	background: #fff;
}

.breadcrumb-wrap .breadcrumb {
	background-color: #fff;
	border-radius: 0;
	font-size: 0;
	margin: 0;
	padding: 10px 0;
	overflow: hidden;
}

.breadcrumb-wrap .breadcrumb li {
	font-size: 17px;
	display: block;
	float: left;
	white-space: nowrap;
}

/* .ebook-product .wrap {
	margin-bottom: 30px;
	margin-top: 15px;
} */
.ebook-product .wrap .image-box {
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
	font-size: 0;
	position: relative;
}

@media screen and ( min-width : 992px) {
	.ebook-product .wrap .item-box .item-name {
		margin-top: 0;
	}
}

.ebook-product .wrap .item-box .item-name {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	line-height: 25px;
	margin: 10px 0;
}

.ebook-product .wrap .item-box .item-brand .update-date {
	margin-left: 30px;
}

.ebook-product .wrap .item-box .item-brand .box-description {
	margin: 10px;
}

.ebook-product .wrap .item-box .item-row1 .item-price {
	border-bottom: 1px solid #eee;
}

.ebook-product .wrap .item-box .item-row1 .item-price .item-brand {
	margin-bottom: 8px;
	font-size: 16px;
}

.ebook-product .wrap .item-box .item-row1 .item-price .item-brand h6 {
	margin: 0 5px 0 0;
	line-height: 20px;
	display: inline-block;
}

.ebook-product .wrap .item-box .item-row1 .item-price .item-brand p {
	line-height: 20px;
	margin-bottom: 0;
	display: inline-block;
}

@media screen and(min-width: 640px) {
	.ebook-product .wrap .item-box .item-row1 .item-other .item-rating {
		margin-bottom: 0;
		display: inline-block;
	}
}

.ebook-product .wrap .item-box .item-row1 .item-other .item-rating {
	display: block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 10px;
}

.item-rating {
	margin-left: 60px;
}

.ebook-product .wrap .buy-box {
	margin-top: 20px;
}

.ebook-product .wrap .chapter-area {
	border-right: 1px solid #c5c5c5;
}

.ebook-product .wrap .product-table-title {
	font-size: 19px;
	font-weight: 400;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
	color: #444;
	margin-top: 0;
}

.ebook-product .wrap .product-review-box .product-review-content .item:first-child
	{
	border-top: none;
}

.ebook-product .wrap .product-review-box .product-review-content .item {
	width: 100%;
	border-top: 1px solid #E9E9E9;
	padding: 15px 0;
}

.ebook-product .item-profile {
	border-right: 1px solid #E4E4E4;
}

.product-review-content .item .image {
	width: 65px;
	height: 65;
	overflow: hidden;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.review-list .image img.img-responsive {
	display: block;
	height: 100% !important;
}

@media screen and (min-width: 768px) {
	.product-review-content .item .name {
		width: 178px;
	}
}

.product-review-content .item .name {
	font-size: 14px;
	margin: 15px 0 5px;
	font-weight: 700;
	text-transform: capitalize;
	width: 100%;
	text-align: center;
}

.product-review-content .item .days {
	font-size: 12px;
	color: #999;
	margin: 4px 0 0;
	text-align: center;
}

.ebook-product .description {
	text-align: justify;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	margin: 10px 0;
}

.product-review-content .item .infomation .link span {
	font-size: 13px;
	margin-right: 10px;
}

.ebook-product .margin-comment {
	margin-bottom: 10px;
}

.item-brand {
	margin-top: 5px;
}

.item-brand p.author {
	line-height: 20px;
	margin-bottom: 0px;
	display: inline-block;
}

.item-brand h6 {
	margin: 0px 5px 0px 0px;
	line-height: 20px;
	display: inline-block;
}

.ebook-product #search_form {
	margin-top: 15px;
}

.ebook-home #search_form {
	margin-top: 15px;
}

.noEbook {
	text-align: center;
	min-height: 200px;
	margin-top: 200px;
}

.list-ebook {
	margin: 20px;
}

.list-ebook-image {
	width: 50px;
	height: 60px;
}

#createPost .row {
	margin: 20px;
}

#addChapter .row {
	margin: 20px;
}

.title-box {
	margin: 20px;
}

.margin-comment .item .description {
	min-height: 65px;
	border-bottom: 1px solid #E4E4E4;
}

.comments-area p {
	padding: 8px 0;
	color: #999;
	font-size: 0.8125em;
	line-height: 1.8em;
}

.comments-area p label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.comments-area input[type="text"] {
	padding: 10px 15px;
	width: 97%;
	color: #000;
	border: 1px solid #f0f0f0;
	background: #fff;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.comments-area input[type="password"] {
	padding: 10px 15px;
	width: 97%;
	color: #000;
	font-size: 14px;
	border: 1px solid #f0f0f0;
	background: #fff;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
}

h5.sub_title {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	margin: 3%;
}

.register_account form input[type="text"], input[type="password"], input[type="email"],
	.register_account form select {
	font-size: 14px;
	color: #999;
	padding: 8px;
	outline: none;
	margin: 10px 0;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #f0f0f0;
}

.btn-register {
	margin-top: 12px;
	width: 95%;
}

.product-item .image {
	height: 160px;
}

.profile-box {
	border: 1px solid;
}

.profile-box .row {
	margin: 10px;
}

.image-box {
	text-align: center;
}

.profile {
	height: 400px;
}

.logo-page {
	width: 50%;
	margin-left: 50px;
}

.header-search {
	margin-top: 20px;
}

.image-detail {
	width: 210px;
}

.carousel-control {
	padding-top: 10%;
	width: 5%;
}

.ebtitle {
	font-size: 16px;
	font-weight: 500;
	padding: 5px;
	background: #484065;
	color: #FFF;
	height: 50px;
	overflow: hidden;
}

.ebtitle:hover {
	background: #6844e8;
}

.ebook-home .container .tab-content {
	margin-left: -15px;
	margin-right: -15px;
}

.chapter-area {
	margin-left: -15px;
}

.chapter-area h3 {
	margin-left: -15px;
}

.chapter-area .pic {
	display: inline-block;
	float: none;
	height: 118px;
	margin-right: 13px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 150px;
}

.chapter-area .info {
	display: inline-block;
	float: none;
	margin-left: 6px;
	margin-top: 0;
	vertical-align: middle;
}

.chapter-area a:hover, a:FOCUS, a:ACTIVE {
	text-decoration: none;
}

.chapter-area  .box-product-lifestyle li:hover {
	border: 2px rgba(0, 206, 255, 0.9) solid;
}

.chapter-area  .box-product-lifestyle li {
	border: 2px solid #ffffff;
}

.chapter-area a {
	color: #333333;
}

.chapter-area a .rating {
	margin-top: 10px;
}

.chapter-area a .rating .voted {
	margin-right: 5px;
	color: red;
}

.chapter-area a .rating .date {
	margin-left: 15px;
}

.box-detail {
	margin-bottom: 15px;
}

.box-comment {
	margin-top: 20px;
}

.post-cat .pic {
	width: 100px;
	height: 80px;
	margin-right: 18px;
	display: inline-block;
}

.post-cat .info {
	display: inline-block;
	float: none;
	margin-left: 6px;
	margin-top: 20px;
	position: absolute;
	vertical-align: middle;
}

.post-cat ul li {
	margin-bottom: 20px;
}

.post-cat a:FOCUS, a:ACTIVE {
	text-decoration: none;
}

.post-cat .info h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.post-cat .info .rating .user-icon {
	margin-right: 10px;
}

.post-cat ul li a {
	color: #333;
}

.post-cat ul li a:hover {
	color: #8a9dc1;
}

.post-cat h3.product-table-title {
	margin-left: -15px;
}

.ebook-product .wrap {
	margin-top: 15px;
}

.add-chapter {
	text-align: center;
	min-height: 60px;
	font-weight: 600;
	border: 1px solid;
}

li.add-chapter a {
	position: absolute;
	margin-top: 20px;
	color: #1c96ec;
}

.product-content-box .content-box {
	margin: 20px;
	background: #f5f5f5;
}

.product-content-box .content-box p {
	margin: 20px;
}

.product-content-box .change-style {
	margin: 20px;
	min-height: 30px;
	border: 1px solid #d6d3d3;
}

.product-content-box .change-style .gray-btn {
	border: 1px solid #f5f5f5;
	margin: 5px;
	background: #f5f5f5;
}

.product-content-box .change-style .yellow-btn {
	border: 1px solid #f7f5b9;
	margin: 5px;
	background: #f7f5b9;
}

.product-content-box .change-style .black-btn {
	border: 1px solid #333333;
	margin: 5px;
	background: #333333;
}

.product-content-box .change-style button {
	float: right;
}

.product-content-box .change-style .col-sm-8 h3 {
	margin: 15px 0;
	text-transform: uppercase;
}
.no_select { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select:none;}